*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

header{
    position: relative;
    padding: 10px;
}

h1{
    font-size: 38px;
    font-weight: 790;
    display: inline-block;
    position: absolute;
    bottom: 18px;
    left: 64px
}