*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

header{
    position: relative;
    padding: 10px;
}

h1{
    font-size: 38px;
    font-weight: 790;
    display: inline-block;
    position: absolute;
    bottom: 18px;
    left: 64px
}

main{
    background-color: lightblue;
    padding: 35px 350px;

}

#square{
    margin: auto;
    width: 80%;
    height: 80vh;
    background-color: white;
}