*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color: rgb(246,248,249);
}

header{
    background-color: white;
    position: relative;
    padding: 10px;
}

h1{
    font-size: 38px;
    font-weight: 790;
    display: inline-block;
    position: absolute;
    bottom: 18px;
    left: 64px
}

main{
    /* background-color: lightblue; */
    padding: 50px 100px 0 100px;

}

#square{
    border-radius: 8px;
    margin: auto;
    width: 80%;
    height: 85vh;
    background-color: white;
}

.buttons{
    border-bottom: 1px solid rgb(246,248,249);
    padding: 10px 70px;
}

.button{
    border-radius: 10px;
    padding: 0 20px;
    line-height: 2.5;
}

.blue{
    background-color: rgb(71,173,241);
    border-color: rgb(71,173,241);
}

.sections{
    padding: 10px 70px;
}

section{
    margin: 30px 0 ;
}

.row{
    margin: 25px 0;
    list-style: none;
}

.entity-r{
    color: red;
    border: 1px solid red;
    border-radius: 25px;
    padding: 1px;
}


.entity-g{
    color: green;
    border: 1px solid green;
    border-radius: 25px;
    padding: 1px;
}

.tags{
    color: white;
    border: 1px solid;
    border-radius: 20px;
    padding: 10px;
    font-size: 0.9em;
}